body {
    background: #ccc;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    min-height: calc(100vh - 5px);
    margin-top: 5px;
    padding: 1em;
    box-sizing: border-box;
}